services:
  comfy_ui:
    container_name: c_mea_comfy
    image: img_mea_comfy
    # By default Part-DB will be running under Port 8080, you can change it here
    ports:
      - '8188:8188'
      - '11434:11434'
      - '50051:50051'
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['0']
            capabilities: [gpu]
    volumes:
      # ai models
      - $COMFY/models:/mea/comfy_ui/models
      - $OLLAMA/models:/root/.ollama/models
      
      # dev
      - ../:/mea/mea_comfy

      # for gui comfy ui
      - ./system:/mea/system

    # command: /mea/system/cmds.sh
    working_dir: /mea/mea_comfy
    command: /bin/bash -lc "exec make mea_server"
 