services:
  comfy_ui:
    container_name: c_mea_comfy
    image: img_mea_comfy
    
    ports:
      - '8189:8189'
      - '11434:11434'
      - '50051:50051'
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['0']
            capabilities: [gpu]
    environment:
      DIR_MEA_COMFY: /workspace
    volumes:
      # ai models
      - $COMFY/models:/mea/comfy_ui/models
      # - $OLLAMA/models:/root/.ollama/models
      
      # dev
      - ../:/workspace

      # for gui comfy ui
      # - $MEA/fs/docker/plug_snap:/mea/comfy_ui/custom_nodes/ComfyUI-Manager/snapshots
      # - $MEA/fs/docker/out:/mea/comfy_ui/output
      - ./system:/mea/system

    # command: /mea/system/cmds.sh
    command: sleep 10000 && export DIR_MEA_COMFY=/workspace
